
.pass_word
{
  margin-right: 50px;
}
.outer
{
  width:60% ;
  height: 60% ;
  margin:  80px auto ;
  border: 2px solid rgb(223, 216, 216);
  padding: 30px;
  position: relative;

}
.outer::before
{
  content: "login";
  position: absolute;
   top:0%;
   left: 50%;
   width:130px;
   background-color: rgb(238, 27, 27);
   height: 40px;
   margin-top: -20px;
   margin-left: -65px;
    border-radius: 40% 40% 40% 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: aliceblue;

}

.selected
{
  margin-top: 20px   ;
  margin-bottom: 30px;
}

.select
{
   margin:3px ;
}
.footer
{
   display: flex;
}
.footer span
{
  justify-items: flex-start;
}
.footer a
{
  justify-items: flex-end;
}


